<!DOCTYPE html>
<html lang="es">
  <head>

    <title>Meteo Flask app</title>

    
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


  </head>
  <body bgcolor=white>

 
<nav class='cf'>
  <ul class='cf'>
     <li>
      <a href='index.html'>Home</a>
    </li>
    <li>
      <a href='tiempo.html'>Tiempo</a>
    </li>
    <li>
      <a href='insert.html'>Insert</a>
    </li>
 
  </ul>
  <a href='#' id='openup'>MENU</a>
</nav>
<h1>Meteo</h1>

  <form  id="contact-form" method="post" action="{{ url_for('ciudad') }}" role="form">
       <p>Ciudad</p>
      <input type="text" id="ciudad" name="ciudad" value=""/>

      <button type="submit" class="btn btn-primary">Buscar</button>
    

  </form>

  


  </body>


</html>